.container {
    /* background-color: rgb(43, 196, 74); */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% 1fr 1fr;
    grid-template-rows: 30% 500px 20%;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar children children"
        "footer footer footer";
}

.navbar {
    grid-area: navbar;
    background-color: rgb(34, 43, 69)
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(123, 31, 162)
}

.children {
    grid-area: children;
    background-color: rgb(26, 33, 56) 
}

.footer {
    grid-area: footer;
    background-color: rgb(194, 24, 91)

}