.container {
    /* background-color: rgb(36, 27, 214); */
    display: grid;
    width: 100%;
    grid-template-areas: "primary secundary";
    
}

.primary {
    display: grid;
    grid-template-areas: "uno dos contact";
    justify-content: start;
}

.secundary {
    display: grid;
    grid-template-areas: "search car login";
    justify-content: end;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.contact {
    grid-area: contact;
}

.search {
    grid-area: search;
}

.car {
    grid-area: car;
}

.login {
    grid-area: login;
}

.uno, 
.dos,
.contact, 
.search, 
.car, 
.login {
   margin: 10px; 
}

button {
    background: white;
    border-radius: 5px;
    width: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
}