.container {
    /* background-color: rgb(235, 146, 30); */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "email";
    justify-content: center;
}

.email {
    grid-area: email;
}
