.container {
    display: grid;
    grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";
    justify-content: center;
    gap: 10px;
    margin: 10px;
}


.navbar {
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
}

.children {
    grid-area: children;
}

.footer {
    grid-area: footer;

}